<div class="container py-3">
    <div class="row">
        <div class="col-md-6 col-lg-6 offset-md-3">
            <h2>Login</h2>
            <br />
            <form id="frmLogin">
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="lastName" placeholder="" name="email">
                    </div>
                  </div>
                <div class="form-group row">
                  <label for="password" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="" name="password">
                  </div>
                </div>
                <div class="form-group row">
                    <br/>
                  <div class="col-sm-10 ">
                    <button type="button" class="btn btn-primary btnLogin">Login</button>
                  </div>
                </div>
              </form>
              <div>
                Don't have an account? <a href="/signup" class="">Register</a>
            </div>
        </div>
    </div>
</div>